
.active{
    display: block;
}
.section{
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    align-items: center;
}
.section-center {

  }
.title {
  text-align: center;
  margin-bottom: 4rem;
 
}
.title h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.title p {
  width: 80%;

  color: #ffffff;
  font-size: 2rem;
}
.product-center{
    padding: 0 5rem;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
.product-header {
  display: flex;
  justify-content: center;
}
.product-img  {
  padding-bottom: 4rem;
  padding-left: 10rem;
}
.product-img img{
  border-radius:10px;
  object-fit: cover;
  height: 25rem;
}
.product-img img:hover{
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.content h4{
  font-size: 2rem;
}
.notAvailabe{
  color:#ff0033;
}
@media screen and (max-width: 992px) {

    .section-center {
        width: 95vw;
      }
  .product-img {
    margin-bottom: 0;
  }
  .pproduct-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .product-header{
    display: grid;
  }
}
.product {
  background:#202020;
  border-radius: 4px;
  display: grid;
  grid-template-rows: auto 1fr;
  color: #fff;
}
.btn-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius:5px;
}
.tab-btn:nth-child(3) {
  border-top-right-radius: 5px;
}
.tab-btn {
  padding: 1rem 0;
  border:#ff8177;
  font-size: 1rem;
  display: block;
  background: #181818;
  cursor: pointer;
 color:#fff;
  
}
.tab-btn:hover:not(.active) {
  background: #202020;
  color: #ff8177;
}
.product-content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:4px;
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: #202020;
}
.content.active {
  display: block;
}
.section-hidden{
  display: none;
}
.otherProduct{
  background-color: #141414;
  padding-bottom: 5vh;
}
#otherProduct-btn{
  width:30%;
  margin:auto;
}
#otherProduct-btn:hover{
  cursor: pointer;
}
/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0 , 0, 0.5);
  display: grid;
  place-items: center;
  transition: ease-in;
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: #141414;
  border-radius:5px;
  width: 70vw;
  height: 30vh;
  max-width: 90vw;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  color:#fff;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color:#ff8177;
}
.close-btn:hover {
  color: #ff8188;
  transform: scale(1.3);
}

/* countdown */
.deadline {
  display: flex;
}
.deadline-format {
  background:#ff8177;
  color:#fff;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
